<%- include("partials/header.ejs") %>
<main id="cover">
  <div
    class="container-fluid text-center d-flex flex-column justify-content-center align-items-center"
  >
    <h1 class="display-3 lh-lg">READIFY</h1>
    <p class="lead">
      Ever finished an amazing book, only to find the details fading from your
      memory weeks later? Struggling to recall that profound quote or that plot
      twist that left you speechless? Shelf your forgetfulness! Here at READIFY,
      we help you preserve the magic of your favorite reads. Capture insightful
      quotes, summarize key moments, and rate your experience – all in one
      place. Never again lose track of the books that touched your soul. Start
      building your literary treasure trove today!
    </p>
    <a href="/notes" class="btn btn-danger">Write Your Notes</a>
  </div>
</main>
